events {}

http {
    include       mime.types;
    default_type  application/octet-stream;

    server {
        listen 80;
        server_name localhost; # Em prod, o certbot/traefik lidaria com SSL, aqui simulamos HTTP básico

        # 1. Frontend
        location / {
            proxy_pass http://frontend:80;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }

        # 2. API Qualidade (WebSocket + HTTP)
        location /api/qualidade/ {
            # O rewrite remove o /api/qualidade da URL antes de mandar pro backend
            # Se o backend espera /v1/session, ele receberá /v1/session
            rewrite ^/api/qualidade/(.*) /$1 break;
            proxy_pass http://backend-qualidade:8000;
            
            # Configurações para WebSocket (Chat)
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_read_timeout 86400; # Evita desconexão do websocket
        }

        # 3. API Robos
        location /api/robos/ {
            rewrite ^/api/robos/(.*) /$1 break;
            proxy_pass http://backend-robos:5000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}