version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: scope_inteligence_qdrant
    restart: always
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage